@{
    ViewBag.Title = "Activated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-4 col-xs-offset-4">
    <h2 class="text-success">Usuario Ativado!!</h2>
    você sera redirecionando para a pagina de login em 5 segundos
</div>
<script>
    setTimeout(function () {
        location.href = '@Url.Action("index","home")';
    }, 5000);
</script>