.navbar{
    background-color:forestgreen;
    border-radius:5px;
}

.navbar .container-fluid{
    background-color:forestgreen;
     border-radius:5px;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}
